#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bg-main-color{
  background: #FDF5E6;
}

h1,h2,h3,h4,h5,h6, button, .textPoppins{
  font-family: 'Poppins',sans-serif;
}

p, .textRoboto{
  font-family: 'Roboto',sans-serif;
}

.bg-darkGolden{
  background:#B8860B;
}

.darkGolden-color{
  color: #B8860B;
}

.logo{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #fff;
}

.banner{
  background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)) 
  ,url(./assets/img-banner.jpg) no-repeat center center;
  background-size: cover;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.text-banner{
  color: #eee;
  text-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}